@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

*
{
    margin: 0;
    padding: 0;
    font-family: 'Varela Round', sans-serif;

}
body
{
    color: #fdacac;
    background-image: url('../assets/images/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    font-size: 0.625rem;
    max-width: 37.5rem;
}
nav
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
nav ul
{
    position: absolute;
    top: 1rem;
    right: 5%;
}
nav ul li
{
    list-style: none;
    margin: 0 1rem;
    display: inline-block
}
nav ul li a
{
    color: #fdacac;
    font-size: 2rem;
    text-decoration: none;
    font-weight: 550;
    transition: all 0.5s ease;
}
nav ul li a:hover
{
    color: #b06c6c;
}
html
{
    scroll-behavior: smooth;
}
a:visited
{
    color: #fdacac;
}
.social-buttons ul
{
    position: relative;
    top: 30rem;
    left: 64.75rem;
    margin: 0;
    padding: 0;
    transform: translate(-50%, -50%);
    display: flex;
}
.social-buttons ul li
{
    list-style: none;
    margin: 0 1rem;
}
.social-buttons ul li i
{
    font-size: 3rem;
    line-height: 2rem;
    transition: .6s;
    margin-top: 1.5rem;
    color: #ffffff;
}
.social-buttons ul li a
{
    bottom: 5rem;
    position: relative;
    display: block;
    width: 5rem;
    height: 5rem;
    border-radius: 2.5rem;
    background-color: #fdacac;
    text-align: center;
    transition: 0.6s;
    box-shadow: 0 3px 2px rgba(0, 0, 0, 0.5);
}
.social-buttons ul li a:hover
{
    transform: translate(0, -8px);
}
.social-buttons ul li:nth-child(1) a:hover
{
    background-color: #b36262;
}
.social-buttons ul li:nth-child(2) a:hover
{
    background-color: #b36262;
}
.social-buttons ul li:nth-child(3) a:hover
{
    background-color: #b36262;
}
.social-buttons ul li:nth-child(4) a:hover
{
    background-color: #b36262;
}
.me
{
    width: 26.375rem;
    max-width: 35rem;
    border: 0.5rem solid #000000;
    border-radius: 18.75rem;
    position: relative;
    left: 40%;
    top: 0rem;
}
.selfie img
{
    border: 0.5rem solid rgba(70, 56, 82, 0.76);
    filter: drop-shadow(0 0 0.25rem rgb(0,0,0));
}
#intro .icon-images
{
    display: flex;
    flex-direction: center;
    position: absolute;
    top: 5rem;
    left: 29.375.5rem;
    filter: drop-shadow(0 0 0.25rem rgb(0,0,0));
    z-index: 4;
}
#intro .icon-images img
{
    width: 3.0625rem;
    max-width: 7.25rem;
    margin-bottom: 0.25rem;
}
.intro-sentence
{
    position: relative;
    bottom: 21.5rem;
    left: 125%;
}
.intro-sentence p
{
    position: relative;
    font-size: 1.875rem;
}
#pre-text
{
    position: relative;
    font-size: 3.125rem;
}
#name
{
    position: relative;
    font-size: 3.75rem;
}
.sub-header
{
    font-size: 5rem;
    font-weight: bold;
    position: relative;
    margin-top: 15%;
    margin-left: 36.5rem;
    width: 24rem;
    max-width: 24rem;
}
.icon-images i
{
    position: relative;
    right: 1rem;
    top: 0.5rem;
}
.aboutcontainer
{
    position: relative;
    left: 12.5%;
    background-color: rgba(70, 56, 82, 0.8);
    width: 82.5rem;
    max-height: 30rem;
    border-radius: 1.625rem;  
    box-shadow: 0 2px 16px rgba(0, 0, 0, 0.3);
}
.aboutcontainer2
{
    position: relative;
    top: 1.5rem;
    width: 80.5rem;
}
g
{
    font-size: 1.75rem;
}
h
{
    position: relative;
}
h a:visited
{
    color: #fd7a7a;
}
.about-row
{
    text-align: center;
}
.about-row p
{
    max-width: 102.75rem;
    font-size: 1.0625rem;
    margin-left: 4.5%;
}
.tab-container
{
    position: relative;
    top: 3.5rem;
    left: 20%;
    width: 50rem;
    max-height: 22.5rem;
    background-color: rgba(70, 56, 82, 1);
    padding: 1rem;
    box-shadow: 0 2px 16px rgba(0, 0, 0, 0.3);
    border-radius: 20px;
}
.button-names
{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 2px solid rgba(155, 84, 84, 0.5);
    font-size: 1.25rem;
    font-weight: 600;
}
.button-names .tab-button
{
    font-size: 1.5rem;
    font-weight: 600;
    color: #d57b7b;
    background: none;
    border: none;
    padding: 1rem;
    cursor: pointer;
}
.button-names .tab-button.active
{
    color: #ffcdcd;
}
.info-container
{
    padding: 1.5rem;
}
.info-container li
{
    list-style: none;
}
.info-container li img
{
    width: 4.5rem;
}
.image-container-edu
{
    background-color: rgba(86, 71, 100, 0.5);
    margin-top: 0.25rem;
    border-radius: 0.5rem;
    width: 7rem;
    height: 14.6rem;
}
#mcchs
{
    position: relative;
    top: 4.25rem;
    
}
#utd
{
    position: relative;
    top: 1rem;
    left: rem;
}
.image-container-exp
{
    position: relative;
    background-color: rgba(86, 71, 100, 0.5);
    margin-top: 0.25rem;
    border-radius: 0.5rem;
    width: 7rem;
    height: 14.6rem;
    left: 1.5rem;
}
#gen
{
    position: relative;
    top: 8rem;
    width: 6rem;
}
#ramenhakata
{
    position: relative;
    bottom: 5.5rem;
    right: 3.7rem;
    width: 14rem;
}
.globe-container
{
    position: relative;
    margin-top: 0.25rem;
    border-radius: 0.5rem;
    width: 7rem;
    height: 7rem;
    left: 4.5rem;
    bottom: 1rem;
}
.game-container
{
    position: relative;
    background-color: rgba(70, 56, 82, 0.8);
    border-radius: 0.5rem;
    width: 23rem;
    height: 2.5rem;
    bottom: 0.95rem;
    left: 19rem;
    z-index: 1;
}
.game-background-container
{
    position: relative;
    background-image: url('../assets/images/videogames.jpg');
    border-radius: 0.5rem;
    width: 23rem;
    height: 2.5rem;
    bottom: 5.3rem;
    left: 19rem;
    z-index: 0;
}
.ski-container
{
    position: relative;
    background-color: rgba(70, 56, 82, 0.8);
    border-radius: 0.5rem;
    width: 23rem;
    height: 2.5rem;
    bottom: 4.55rem;
    left: 19rem;
    z-index: 1;
}
.ski-background-container
{
    position: relative;
    background-image: url('../assets/images/ski.jpg');
    border-radius: 0.5rem;
    width: 23rem;
    height: 2.5rem;
    bottom: 8.925rem;
    left: 19rem;
    z-index: 0;
}
.bouldering-container
{
    position: relative;
    background-color: rgba(70, 56, 82, 0.8);
    border-radius: 0.5rem;
    width: 23rem;
    height: 2.5rem;
    bottom: 14.675rem;
    right: 5rem;
    z-index: 1;
}
.bouldering-background-container
{
    position: relative;
    background-image: url('../assets/images/bouldering.jpg');
    border-radius: 0.5rem;
    width: 23rem;
    height: 2.5rem;
    bottom: 19rem;
    right: 5rem;
    z-index: 0;
}
.music-container
{
    position: relative;
    background-color: rgba(70, 56, 82, 0.8);
    border-radius: 0.5rem;
    width: 23rem;
    height: 2.5rem;
    bottom: 18.25rem;
    right: 5rem;
    z-index: 1;
}
.music-background-container
{
    position: relative;
    background-image: url('../assets/images/music.jpg');
    border-radius: 0.5rem;
    width: 23rem;
    height: 2.5rem;
    bottom: 22.6rem;
    right: 5rem;
    z-index: 0;
}
c
{
    position: relative;
    font-size: 1.5rem;
    bottom: 3rem;
    left: 6rem;
    z-index: 2;
}
d
{
    position: relative;
    font-size: 1.5rem;
    bottom: 6.6rem;
    left: 6.25rem;
    z-index: 2;
}
e
{
    position: relative;
    font-size: 1.5rem;
    right: 18rem;
    bottom: 16.75rem;
    z-index: 2;
}
f
{
    position: relative;
    font-size: 1.5rem;
    bottom: 20.3rem;
    right: 18rem;
    z-index: 2;
}
.fa-earth-americas
{
    position: relative;
    font-size: 4rem;
    top: 0.75rem;
}
.fa-gamepad
{
    position: relative;
    color: #fdacac;
    bottom: 3rem;
    left: 5.5rem;
    z-index: 2;
}
.fa-person-skiing
{
    position: relative;
    color: #fdacac;
    bottom: 6.65rem;
    left: 5.75rem;
    z-index: 2;
}
.fa-mountain
{
    position: relative;
    color: #fdacac;
    bottom: 16.65rem;
    right: 18.5rem;
    z-index: 2;
}
.fa-music
{
    position: relative;
    color: #fdacac;
    bottom: 20.25rem;
    right: 18.5rem;
    z-index: 2;
}
.info-container .info
{
    display: none;
    animation: moving 0.5s ease;
}
@keyframes moving
{
    from
    {
        transform: translateX(5rem);
        opacity: 0;
    }
    to
    {
        transform: translateX(0rem);
        opacity: 1;
    }
}
.info-container .info.active
{
    display: block;
}
.info-container .info.active h2
{
    font-size: 1.5rem;
    color: #ffcdcd;
}
.info-container .info.active p
{
    font-size: 1rem;
}
.info-container .info h2
{
    margin-bottom: 1.5rem;
}
x
{
    font-weight: bold;
}
edu1
{
    position: relative;
    font-size: 2rem;
    bottom: 14rem;
    left: 2rem;
}
edu2
{
    position: relative;
    left: 2.5rem;
    font-size: 1.25rem;
    color: #fd7a7a;
    bottom: 15rem;
}
edu3
{
    position: relative;
    bottom: 15.5rem;
    font-style: italic;
    font-size: 1.25rem;
    color: #c45555;
}
edu4
{
    position: relative;
    font-size: 1.925rem;
    font-weight: 700;
    left: 1.65rem;
    bottom: 14rem;
}
edu5
{
    position: relative;
    left: 0.75rem;
    font-size: 1.25rem;
    color: #fd7a7a;
    bottom: 15rem;
}
edu6
{
    position: relative;
    bottom: 14.25rem;
    font-style: italic;
    font-size: 1.25rem;
    color: #c45555;
}
exp1
{
    position: relative;
    font-size: 2rem;
    bottom: 14rem;
    left: 2rem;
}
exp2
{
    position: relative;
    font-size: 1.25rem;
    color: #fd7a7a;
    bottom: 15rem;
    left: 9.75rem;
}
exp3
{
    position: relative;
    font-style: italic;
    font-size: 1.25rem;
    color: #c45555;
    right: 11.5rem;
    bottom: 12.75rem;
}
exp4
{
    position: relative;
    font-size: 2rem;
    bottom: 11.25rem;
    left: 1.75rem;
}
exp5
{
    position: relative;
    color: #fd7a7a;
    font-size: 1.25rem;
    bottom: 12.25rem;
    left: 8.75rem;
}
exp6
{
    position: relative;
    color: #c45555;
    font-style: italic;
    font-size: 1.25rem;
    bottom: 10rem;
    right: 13rem;
    white-space: nowrap;
}
pas1
{
    position: relative;
    font-size: 2rem;
    bottom: 7.5rem;
    left: 0.5rem;
}
pas2
{
    position: relative;
    font-size: 1.25rem;
    color: #fd7a7a;
    left: 7rem;
    bottom: 8.5rem;
}
pas3
{
    position: relative;
    font-size: 1.25rem;
    color: #c45555;
    bottom: 6.25rem;
    right: 4.75rem;
}
pas4
{
    position: relative;
    font-size: 2rem;
    left: 0.25rem;
    bottom: 5rem;
}
pas5
{
    position: relative;
    font-size: 1.25rem;
    color: #fd7a7a;
    bottom: 5rem;
    left: 5rem;
}
pas5 i
{
    font-size: 1.5rem;
}
k
{
    position: relative;
    top: 7.5rem;
}
.line
{
    position: absolute;
    top: 4.825rem;
    left: 63px;
    width: 11rem;
    height: 0.1rem;
    background-color: #eb8787;
    border-radius: 0.05rem;
    transition: all 0.3s ease-in-out;
}
#about .icon-images
{
    display: flex;
    flex-direction: center;
    position: absolute;
    top: 0.5rem;
    left: 500px;
    z-index: 6;
}
#about .icon-images img
{
    width: 3.125rem;
    max-width: 5rem;
    margin-bottom: 0.5rem;
}
.icon-images i
{
    font-size: 3.75rem;
}
#skills .icon-images
{
    position: relative;
    display: flex;
    flex-direction: center;
    position: relative;
    top: 21.875rem;
    z-index: 10;
}
#skills .icon-images img
{
    width: 6rem;
}
.skills-wrapper
{
    position: relative;
    box-sizing: border-box;
    margin-top: 22.415rem;
    width: 92.5rem;
    height: 70rem;
    background-color: #463852;
    padding: 6% 9%;
}
.skills-header
{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    bottom: 15rem;
}
.skills-header h1
{
    font-size: 5rem;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: transparent;
    letter-spacing: 2px;
}
.skills-header h1:after
{
    content: "";
    position: absolute;
    top: 26rem;
    left: 4.825%;
    height: 0.25rem;
    width: 90%;
    border-radius: 4px;
    background-color: rgba(155, 84, 84, 0.5);
}
b
{
    position: absolute;
    top: 26rem;
    left: 4.75%;
    height: 0.25rem;
    width: 1.25rem;
    border-radius: 50%;
    background-color: #f92828;
    animation: anim 5s linear infinite;
}
@keyframes anim
{
    92.5%
    {
        opacity: 1;
    }
    100%
    {
        opacity: 0;
        left: 93.75%;
    }
}
.cards
{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.25rem;
    margin-right: 2.5%;
}
.card-title
{
    position: relative;
    top: 9.5rem;
    font-size: 2.81875rem;
    font-weight: bold   ;
}
.card
{
    position: relative;
    margin-top: 0.25rem;
    top: 10rem;
    height: 22.5rem;    
    width: 27.5rem;
    max-width: 75rem;
    margin-left: 3.5%;
    background-color: #3C2B4B;
    border: 0.05px solid #4f3c57;
    border-radius: 1.375rem;
    transition: 0.4s;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.card:hover 
{
    background-color: #332440b9;
    transform: translateY(-0.5rem);
    border-color: #3c2b4b;
}
.card .fa-brands
{
    position: relative;
    font-size: 7.5rem;
    bottom: 2rem;
}
.fa-html5
{
    color: #f16529;
}
.fa-css3-alt
{
    color: #2965f1;
}
.fa-js
{
    color: #F0DB4F;
}
.fa-java
{
    color: #F8981D;
}
.fa-python
{
    color: #FFD140;
}
.bxl-c-plus-plus
{
    position: relative;
    font-size: 7.5rem;
    color: #659AD2;
    bottom: 2rem;
}
.card p
{
    color: #fd7a7a;
    position: relative;
    text-align: center;
    width: 22.5rem;
    max-width: 22.5rem;
    top: 2.5rem;
    font-size: 1.35rem;
}
j
{
    color: #c45555;
}
.projects-wrapper
{
    position: relative;
    background: linear-gradient(rgba(70, 56, 82, 1), rgba(70, 56, 82, 0));
    width: 92.5rem;
    height: 50rem;
    display: flex;
}
.projects-header
{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    left: 15.5rem;
}
.projects-header h1
{
    position: relative;
    bottom: 10rem;
    right: 1.5rem;
    font-size: 5rem;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: transparent;
    letter-spacing: 2px;
}
.projects-header h1:after
{
    content: "";
    position: absolute;
    top: 18.5rem;
    right: -24.25rem;
    height: 0.25rem;
    width: 77.175rem;
    border-radius: 4px;
    background-color: rgba(155, 84, 84, 0.5);
}
q
{
    font-size: 0px;
    position: absolute;
    top: 18.5rem;
    left: -95.5%;
    height: 0.25rem;
    width: 1.25rem;
    border-radius: 50%;
    background-color: #f92828;
    animation: anim2 5s linear infinite;
}
@keyframes anim2
{
    92.5%
    {
        opacity: 1;
    }
    100%
    {
        opacity: 0;
        left: 185%;
    }
}
.projects-container
{
    position: relative;
    height: 40rem;
    display: flex;
    flex-wrap: nowrap;
    justify-content: start;
}
.presentation
{
    position: relative;
    bottom: 6rem;
    right: 2.25rem;
    width: 10rem;
    background-size: cover;
    cursor: pointer;
    overflow: hidden;
    border-radius: 4.5rem;
    margin: 1rem;
    display: flex;
    align-items: flex-end;
    transition: 0.6s cubic-bezier(0.28, -0.03, 0, 0.99);
    box-shadow: 0px 10px 30px -5px rgba(0, 0, 0, 0.8);
    z-index: 1;
}
.presentation .bar
{
    position: relative;
    max-width: 20rem;
    color: #fdacac;
    display: flex;
    flex-wrap: nowrap;
    z-index: 1;
}
.presentation .bar .number
{
    background: #223;
    font-size: 2rem;
    color: #fd7a7a;
    border-radius: 50%;
    width: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem;
    z-index: 1;
}
.presentation .bar .description
{
    position: relative;
    font-size: 1.3rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 10rem;
    width: 10rem;
    opacity: 0;
    transform: translateY(30px);
    transition-delay: 0.3s;
    transition: all 0.3s ease;
    z-index: 1;
}
.description p
{
    position: relative;
    width: 40rem;
    color: #fd7a7a;
    padding-top: 5px;
}
.description h4
{
    position: relative;
    width: 25rem;
    text-transform: uppercase;
}
input
{
    display: none;
}   
input:checked + label
{
    width: 40rem;
}
input:checked + label .description
{
    opacity: 1 !important;
    transform: translateY(0) !important;
}
.project1-container
{
    position: absolute;
    background-color: rgba(60, 43, 75, 0.75);
    width: 40rem;
    height: 30rem;
    z-index: 1;
}
.project2-container
{
    position: absolute;
    background-color: rgba(60, 43, 75, 0.75);
    width: 40rem;
    height: 30rem;
    z-index: 1;
}
.project3-container
{
    position: absolute;
    background-color: rgba(60, 43, 75, 0.75);
    width: 40rem;
    height: 30rem;
    z-index: 1;
}
#project1-video
{
    position: absolute;
    width: 53rem;
    z-index: 0;
}
#project2-video
{
    position: absolute;
    width: 54rem;
    right: -7.5rem;
    z-index: 0;
}
#project3-video
{
    position: absolute;
    width: 54rem;
    right: -7.5rem;
    z-index: 0;
}
